.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
images/**
media/**
templates/**
node_modules/**
out/test/**
test/**
.git/**
.DS_Store
webpack.config.js
.eslintrc.js
.prettierrc
.prettierignore
.editorconfig
.npmrc
.npmignore
.travis.yml
.gitlab-ci.yml
.circleci/**
jest.config.js
**/*.vsix 